@import "bootstrap";

.login_button {
  margin-right: 10px;
  width: 70px;
  line-height: 30px;
  border: 1px solid gray;
  text-align: center;
  background-color: purple;
  color: white;

}

.search {
  background-color: blue;
  margin-right: 30px;
  height: 38px;
  color: white;
}

.or {
  padding-right: 5px;
}

.comments {
  margin-top: 20px;
}
